/* ========= Table Scss ========== */

.table-component {
  tr,
  td {
    text-align: center;
    vertical-align: middle;
    font-size: 18px;

    img {
      /* Standard 1:1 ratio */
      width: 128px;
      height: 128px;
    }
  }

  .btn-wrapper {
    .btn {
      width: 50%;
      margin: 5px;
    }
  }
}

/* ========= Modal Scss ======== */
.modal-container {
  .modal-content {
    @media only screen and (max-width: 768px) {
      width: 80%;
    }
  }
  .modal-header {
    .modal-title {
      font-size: 24px;
      text-align: center;
      font-weight: bold;
    }
  }
  .field-wrapper {
    display: flex;
    padding: 10px 0px;
    label {
      width: 20%;
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      padding-right: 20px;
    }
    input {
      width: 80%;
      text-align: center;
    }
  }
}
